body {
    margin: 5vw;
    background-color: lightslategrey;
}

.flex-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0px 5px 0px;
}

.song-list{
    grid-row-gap: 5px;
}

.delete-song-btn{
    height: 30px;
    align-self: center;
    margin-left: 5px;
    border: 0;
}

.album-type-div{
    justify-content: space-between;
}

.song{
    display: flex;
}

.song-input{
    width: 100%;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}