body {
    margin: 5vw;
    background-color: lightslategrey;
}

.text-input{
}

.flex-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0px 5px 0px;
}

label {
    margin-top: 20px;
}